/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Build
/Content/Slay
/Content/ParagonGrux
/Content/Samurai_Ronin
/Content/GhostSamurai_Bundle
/Content/Retargeting
/.vscode
/.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
